---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
// import { SCHEDULE, toDurationString } from '../schedule';
import Article from '../layouts/Article.astro';
---

<Article title={`About | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <h1 slot="header" class="text-4xl font-bold">About</h1>

  <section class="prose max-w-none">
    <h2>活動内容・スケジュール</h2>
    <p>週1回、対面でLT会と勉強会を開催しています。</p>
    <p>
      毎週日曜日の13:00-15:00に、図書館1階奥のフリースペースで活動しています(日時・活動場所の変更あり)。
    </p>
    <p>途中入室や途中退室は自由ですので、お気軽にお越しください。</p>
    <p>
      必ず何かのプロジェクトにかかわらないといけないということはなく、見学するだけでも構いません。
    </p>
    <!-- <h3>直近のスケジュール</h3>
    <ul>
      {
        SCHEDULE.map((item) => (
          <li>
            {toDurationString(item.begin, item.end)}
            {item.note && `(${item.note})`}
          </li>
        ))
      }
    </ul> -->
  </section>
</Article>
