---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Card from '../components/Card.astro';
import { SCHEDULE, toDurationString } from '../schedule';
---

<Base title={`About Us | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Card>
    <h1 class="mb-8 mt-2 text-3xl font-bold">About Us</h1>
    <div class="prose mb-4 max-w-none">
      <h2>活動内容・スケジュール</h2>
      <p>週1回、対面でLT会と勉強会を開催しています。</p>
      <p>
        毎週木曜日の16:30-19:30に、図書館2階の「グループ研究室1」で活動しています(曜日変更あり)。
      </p>
      <p>途中入室や途中退室は自由ですので、お気軽にお越しください。</p>
      <p>
        必ず何かのプロジェクトにかかわらないといけないということはなく、見学するだけでも構いません。
      </p>
      <h3>直近のスケジュール</h3>
      <ul>
        {
          SCHEDULE.map((item) => (
            <li>
              {toDurationString(item.begin, item.end)}
              {item.note ? `(${item.note})` : null}
            </li>
          ))
        }
      </ul>
    </div>
  </Card>
</Base>
