---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from './consts';

interface ListItem {
  id: number;
  text: string;
  subItems?: ListItem[];
}

const ScheduleItems: ListItem[] = [
  { id: 1, text: '5/30(木)16:30-19:30' },
  { id: 2, text: '6/6(木)16:30-19:30' },
  { id: 3, text: '6/13(木)16:30-19:30 (グループ研究室2での活動)' },
  { id: 4, text: '6/20(木)16:30-19:30' },
  { id: 5, text: '6/27(木)16:30-19:30' },
];
---

<Base
  title={`活動内容・スケジュール | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
>
  <section
    id="about"
    class="mx-2 mb-5 border-2 border-t-tut-red bg-white p-4 shadow-md"
  >
    <h2 class="mb-3 text-2xl font-bold">活動内容・スケジュール</h2>
    <p>週1回、対面でLT会と勉強会を開催しています。</p><br />
    <p>
      毎週木曜日の16:30-19:30に、図書館2階の「グループ研究室1」で活動しています(曜日変更あり)。
    </p><br />
    <p>途中入室や途中退室は自由ですので、お気軽にお越しください。</p><br />
    <p>
      必ず何かのプロジェクトにかかわらないといけないということはなく、見学するだけでも構いません。
    </p><br /><br /><br />
    <h3 class="mb-3 text-xl font-bold">直近のスケジュール</h3>
    <ul class="list-disc pl-5">
      {
        ScheduleItems.map((item) => (
          <li class="mb-5">
            {item.text}
            <br />
          </li>
        ))
      }
    </ul>
  </section>
</Base>
