---
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title="Article | TUT-IIC">
  <div class="min-h-screen bg-gray-100 text-gray-800">
    <div class="container mx-auto px-5 py-10">
      <h1>{frontmatter.title}</h1>
      <div
        class="mb-4 mt-10 w-full max-w-6xl rounded border-t-8 border-red-700 bg-white px-8 pb-8 pt-6 shadow-md"
      >
        <h1 class="mb-4 text-5xl font-bold text-black">
          {frontmatter.title}
        </h1>
        <h2 class="mb-4 text-right text-2xl font-semibold text-red-700">
          by {frontmatter.author}
        </h2>
        <div class="markdown-body">
          <slot />
        </div>
        <p class="mt-8 text-right text-xl text-gray-500">
          Written on: {frontmatter.date}
        </p>
      </div>
    </div>
  </div>
</Layout>
