---
import { Timeline } from 'react-twitter-widgets';
import { Terminal } from '../components/Terminal';
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { SCHEDULE, toDurationString } from '../schedule';
import { IconPlayerPlayFilled } from '@tabler/icons-react';
import Swiper from '../components/Swiper.astro';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Swiper />

  <div class="mx-auto max-w-screen-lg px-4 py-8">
    <section class="mb-8">
      <h1 class="mb-8 text-4xl font-bold">About Us</h1>
      <div class="prose mb-8 max-w-none">
        <p>
          OpenTUTは、学生の大学生活を快適にするための情報基盤を整える、有志の団体です。
          豊橋技科大生の学生生活を支える時間割アプリの「TUTility」をリリースし、日々改善や機能追加をしています。
          また、プログラミングの経験が浅い方や、チームでの開発をしてみたい方が気軽に参加できる場所を作ることを目的としており、これを実現するためのメンバーを募集中です。
        </p>
        <p>
          現在、週1回の対面による活動で、自分の紹介したい技術を発表するLT会と、自分の学びたいことやReactのチュートリアルを行う勉強会を開催しています。
          TUTilityのほかにも、学生生活を支える新規プロジェクトを開発中です。興味のある方は、ページ上部の𝕏(旧Twitter)へご連絡ください。
        </p>
      </div>
      <a
        href="/about"
        class="flex items-center justify-center gap-1 border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
      >
        <span class="text-tut-red"><IconPlayerPlayFilled /></span>
        <div><span class="align-middle">もっと詳しく</span></div>
      </a>
    </section>

    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-3">
      <section
        class="flex flex-col border-t-2 border-t-tut-red bg-white p-4 shadow-md"
      >
        <h2 class="mb-4 text-2xl font-bold">Projects</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>現在進行中のプロジェクトについて紹介しています。</p>
        </div>
        <a
          href="/projects"
          class="flex items-center justify-center gap-1 border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">プロジェクト紹介へ</span></div>
        </a>
      </section>

      <section
        class="flex flex-col border-t-2 border-t-tut-red bg-white p-4 shadow-md"
      >
        <h2 class="mb-4 text-2xl font-bold">Archive</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>LT会で発表した内容やブログ記事を掲載しています。</p>
        </div>
        <a
          href="/archive"
          class="flex items-center justify-center gap-1 border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">記事一覧へ</span></div>
        </a>
      </section>

      <section
        class="flex flex-col border-t-2 border-t-tut-red bg-white p-4 shadow-md"
      >
        <h2 class="mb-4 text-2xl font-bold">Schedule</h2>
        <div class="prose max-w-none">
          <p>
            特に記載のない限りは図書館2階の「グループ研究室1」で活動しています。
          </p>
          <ul>
            {
              SCHEDULE.slice(0, 3).map((item) => (
                <li>
                  {toDurationString(item.begin, item.end)}
                  {item.note && `(${item.note})`}
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <Timeline
        client:load
        dataSource={{
          sourceType: 'profile',
          screenName: 'OpenTUT_info',
        }}
        options={{
          height: '600',
        }}
      />
      <Terminal client:load />
    </div>
  </div>
</Base>
