---
import { getImage } from 'astro:assets';
import { Timeline } from 'react-twitter-widgets';
import Slider1 from '../assets/Slider1.png';
import Slider2 from '../assets/Slider2.png';
import Slider3 from '../assets/Slider3.png';
import Slider4 from '../assets/Slider4.png';
import { Slider } from '../components/Slider';
import { Terminal } from '../components/Terminal';
import Layout from '../layouts/Layout.astro';

const images = [
  { src: (await getImage({ src: Slider1, width: 1920 })).src, alt: 'image 1' },
  { src: (await getImage({ src: Slider2, width: 1920 })).src, alt: 'image 2' },
  { src: (await getImage({ src: Slider3, width: 1920 })).src, alt: 'image 3' },
  { src: (await getImage({ src: Slider4, width: 1920 })).src, alt: 'image 4' },
];
---

<Layout title="TUT-IIC">
  <div class="min-h-screen bg-gray-100 text-gray-800">
    <div class="container mx-auto px-5 py-10">
      <div id="slider" class="bg-white shadow-md mb-5 mx-2">
        <Slider client:load images={images} />
      </div>

      <main>
        <section
          id="about"
          class="p-4 bg-white shadow-md mb-5 mx-2 border-2 border-t-tut-red"
        >
          <h2 class="text-2xl font-bold mb-3">TUT-IICã¨ã¯</h2>
          <p>
            TUT-IIC(TUT - Information Infrastructure
            Club)ã¯ã€å­¦ç”Ÿã®å¤§å­¦ç”Ÿæ´»ã‚’å¿«é©ã«ã™ã‚‹ãŸã‚ã®æƒ…å ±åŸºç›¤ã‚’æ•´ãˆã‚‹ã€æœ‰å¿—ã®å›£ä½“ã§ã™ã€‚
          </p><br />
          <p>
            è±Šæ©‹æŠ€ç§‘å¤§ç”Ÿã®å­¦ç”Ÿç”Ÿæ´»ã‚’æ”¯ãˆã‚‹æ™‚é–“å‰²ã‚¢ãƒ—ãƒªã®ã€ŒTUTilityã€ã‚’ãƒªãƒªãƒ¼ã‚¹ã—ã€æ—¥ã€…æ”¹å–„ã‚„æ©Ÿèƒ½è¿½åŠ ã‚’ã—ã¦ã„ã¾ã™ã€‚
          </p><br />
          <p>
            ã¾ãŸã€ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã®çµŒé¨“ãŒæµ…ã„æ–¹ã‚„ã€ãƒãƒ¼ãƒ ã§ã®é–‹ç™ºã‚’ã—ã¦ã¿ãŸã„æ–¹ãŒæ°—è»½ã«å‚åŠ ã§ãã‚‹å ´æ‰€ã‚’ä½œã‚‹ã“ã¨ã‚’ç›®çš„ã¨ã—ã¦ãŠã‚Šã€ã“ã‚Œã‚’å®Ÿç¾ã™ã‚‹ãŸã‚ã®ãƒ¡ãƒ³ãƒãƒ¼ã‚’å‹Ÿé›†ä¸­ã§ã™ã€‚
          </p><br />
          <p>
            ç¾åœ¨ã€é€±1å›ã®å¯¾é¢ã«ã‚ˆã‚‹æ´»å‹•ã§ã€è‡ªåˆ†ã®ç´¹ä»‹ã—ãŸã„æŠ€è¡“ã‚’ç™ºè¡¨ã™ã‚‹LTä¼šã¨ã€è‡ªåˆ†ã®å­¦ã³ãŸã„ã“ã¨ã‚„Reactã®ãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«ã‚’è¡Œã†å‹‰å¼·ä¼šã‚’é–‹å‚¬ã—ã¦ã„ã¾ã™ã€‚
          </p><br />
          <p>
            TUTilityã®ã»ã‹ã«ã‚‚ã€å­¦ç”Ÿç”Ÿæ´»ã‚’æ”¯ãˆã‚‹æ–°è¦ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã‚’é–‹ç™ºä¸­ã§ã™ã€‚
          </p><br />
          <p>èˆˆå‘³ã®ã‚ã‚‹æ–¹ã¯ã€ãƒšãƒ¼ã‚¸ä¸Šéƒ¨ã®ğ•(æ—§Twitter)ã¸ã”é€£çµ¡ãã ã•ã„ã€‚</p><br
          />
        </section>

        <div
          class="flex flex-col sm:flex-row justify-around items-stretch w-full"
        >
          <section
            id="activities"
            class="flex-1 p-4 bg-white shadow-md mb-5 min-w-0 mx-2 border-2 border-t-tut-red"
          >
            <h2 class="text-2xl font-bold mb-3">æ´»å‹•å†…å®¹ãƒ»ã‚¹ã‚±ã‚¸ãƒ¥ãƒ¼ãƒ«</h2>
            <p>é€±1å›ã€å¯¾é¢ã§LTä¼šã¨å‹‰å¼·ä¼šã‚’é–‹å‚¬ã—ã¦ã„ã¾ã™ã€‚</p><br />
            <a href="/activities" class="font-medium hover:text-gray-400"
              ><p class="text-lg font-bold text-right">
                <span class="text-red-600">â–¶</span>è©³ã—ãè¦‹ã‚‹
              </p></a
            >
          </section>

          <section
            id="members"
            class="flex-1 p-4 bg-white shadow-md mb-5 min-w-0 mx-2 border-2 border-t-tut-red"
          >
            <h2 class="text-2xl font-bold mb-3">éƒ¨å“¡ã®æ´»å‹•</h2>
            <p>
              LTä¼šã§ç™ºè¡¨ã—ãŸæŠ€è¡“ã‚„ã€é€²è¡Œä¸­ã®ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã«ã¤ã„ã¦ç´¹ä»‹ã—ã¦ã„ã¾ã™ã€‚
            </p><br />
            <a href="/members" class="font-medium hover:text-gray-400"
              ><p class="text-lg font-bold text-right">
                <span class="text-red-600">â–¶</span>è©³ã—ãè¦‹ã‚‹
              </p></a
            >
          </section>

          <section
            id="privacy"
            class="flex-1 p-4 bg-white shadow-md mb-5 min-w-0 mx-2 border-2 border-t-tut-red"
          >
            <h2 class="text-2xl font-bold mb-3">TUTility</h2>
            <p>
              TUTilityã«é–¢ã™ã‚‹æƒ…å ±ã€ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼ç­‰ã‚’æ²è¼‰ã—ã¦ã„ã¾ã™ã€‚
            </p><br />
            <a href="/tutility" class="font-medium hover:text-gray-400"
              ><p class="text-lg font-bold text-right">
                <span class="text-red-600">â–¶</span>è©³ã—ãè¦‹ã‚‹
              </p></a
            >
          </section>
        </div>

        <div
          class="flex flex-col sm:flex-row justify-around items-stretch w-full"
        >
          <div class="flex-1 p-4 min-w-0">
            <Terminal client:load />
          </div>
          <div class="flex-1 p-4 min-w-0">
            <Timeline
              client:load
              dataSource={{
                sourceType: 'profile',
                screenName: 'TUT_IIC',
              }}
              options={{
                height: '600',
              }}
            />
          </div>
        </div>
      </main>
    </div>
  </div>
</Layout>
