---
import { getImage } from 'astro:assets';
import { Timeline } from 'react-twitter-widgets';
import Slider1 from '../assets/Slider1.png';
import Slider2 from '../assets/Slider2.png';
import Slider3 from '../assets/Slider3.png';
import Slider4 from '../assets/Slider4.png';
import Slider5 from '../assets/Slider5.png';
import { Slider } from '../components/Slider';
import { Terminal } from '../components/Terminal';
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Card from '../components/Card.astro';
import { SCHEDULE, toDurationString } from '../schedule';
import { IconPlayerPlayFilled } from '@tabler/icons-react';

const images = [
  { src: (await getImage({ src: Slider1, width: 720 })).src, alt: 'image 1' },
  { src: (await getImage({ src: Slider2, width: 720 })).src, alt: 'image 2' },
  { src: (await getImage({ src: Slider3, width: 720 })).src, alt: 'image 3' },
  { src: (await getImage({ src: Slider4, width: 720 })).src, alt: 'image 4' },
  { src: (await getImage({ src: Slider5, width: 720 })).src, alt: 'image 5' },
];
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Slider client:load images={images} />

  <div class="mx-auto max-w-screen-lg px-4 py-8">
    <div class="mb-8">
      <h1 class="mb-8 text-4xl font-bold">About Us</h1>
      <div class="prose mb-8 max-w-none">
        <p>
          OpenTUTã¯ã€å­¦ç”Ÿã®å¤§å­¦ç”Ÿæ´»ã‚’å¿«é©ã«ã™ã‚‹ãŸã‚ã®æƒ…å ±åŸºç›¤ã‚’æ•´ãˆã‚‹ã€æœ‰å¿—ã®å›£ä½“ã§ã™ã€‚
          è±Šæ©‹æŠ€ç§‘å¤§ç”Ÿã®å­¦ç”Ÿç”Ÿæ´»ã‚’æ”¯ãˆã‚‹æ™‚é–“å‰²ã‚¢ãƒ—ãƒªã®ã€ŒTUTilityã€ã‚’ãƒªãƒªãƒ¼ã‚¹ã—ã€æ—¥ã€…æ”¹å–„ã‚„æ©Ÿèƒ½è¿½åŠ ã‚’ã—ã¦ã„ã¾ã™ã€‚
          ã¾ãŸã€ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã®çµŒé¨“ãŒæµ…ã„æ–¹ã‚„ã€ãƒãƒ¼ãƒ ã§ã®é–‹ç™ºã‚’ã—ã¦ã¿ãŸã„æ–¹ãŒæ°—è»½ã«å‚åŠ ã§ãã‚‹å ´æ‰€ã‚’ä½œã‚‹ã“ã¨ã‚’ç›®çš„ã¨ã—ã¦ãŠã‚Šã€ã“ã‚Œã‚’å®Ÿç¾ã™ã‚‹ãŸã‚ã®ãƒ¡ãƒ³ãƒãƒ¼ã‚’å‹Ÿé›†ä¸­ã§ã™ã€‚
        </p>
        <p>
          ç¾åœ¨ã€é€±1å›ã®å¯¾é¢ã«ã‚ˆã‚‹æ´»å‹•ã§ã€è‡ªåˆ†ã®ç´¹ä»‹ã—ãŸã„æŠ€è¡“ã‚’ç™ºè¡¨ã™ã‚‹LTä¼šã¨ã€è‡ªåˆ†ã®å­¦ã³ãŸã„ã“ã¨ã‚„Reactã®ãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«ã‚’è¡Œã†å‹‰å¼·ä¼šã‚’é–‹å‚¬ã—ã¦ã„ã¾ã™ã€‚
          TUTilityã®ã»ã‹ã«ã‚‚ã€å­¦ç”Ÿç”Ÿæ´»ã‚’æ”¯ãˆã‚‹æ–°è¦ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã‚’é–‹ç™ºä¸­ã§ã™ã€‚èˆˆå‘³ã®ã‚ã‚‹æ–¹ã¯ã€ãƒšãƒ¼ã‚¸ä¸Šéƒ¨ã®ğ•(æ—§Twitter)ã¸ã”é€£çµ¡ãã ã•ã„ã€‚
        </p>
      </div>
      <a
        href="/about"
        class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:bg-gray-100 hover:text-tut-red"
      >
        <span class="text-tut-red"><IconPlayerPlayFilled /></span>
        <div><span class="align-middle">ã‚‚ã£ã¨è©³ã—ã</span></div>
      </a>
    </div>

    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-3">
      <Card>
        <h2 class="mb-4 mt-2 text-2xl font-bold">Projects</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>ç¾åœ¨é€²è¡Œä¸­ã®ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã«ã¤ã„ã¦ç´¹ä»‹ã—ã¦ã„ã¾ã™ã€‚</p>
        </div>
        <a
          href="/projects"
          class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:bg-gray-100 hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆç´¹ä»‹ã¸</span></div>
        </a>
      </Card>

      <Card>
        <h2 class="mb-4 mt-2 text-2xl font-bold">Archive</h2>
        <div class="prose mb-8 max-w-none flex-1">
          <p>LTä¼šã§ç™ºè¡¨ã—ãŸå†…å®¹ã‚„ãƒ–ãƒ­ã‚°è¨˜äº‹ã‚’æ²è¼‰ã—ã¦ã„ã¾ã™ã€‚</p>
        </div>
        <a
          href="/archive"
          class="flex items-center justify-center gap-1 rounded-xl border-2 border-tut-red p-4 text-center text-lg font-bold transition-colors hover:bg-gray-100 hover:text-tut-red"
        >
          <span class="text-tut-red"><IconPlayerPlayFilled /></span>
          <div><span class="align-middle">è¨˜äº‹ä¸€è¦§ã¸</span></div>
        </a>
      </Card>

      <Card>
        <h2 class="mb-4 mt-2 text-2xl font-bold">Schedule</h2>
        <div class="prose max-w-none">
          <p>
            ç‰¹ã«è¨˜è¼‰ã®ãªã„é™ã‚Šã¯å›³æ›¸é¤¨2éšã®ã€Œã‚°ãƒ«ãƒ¼ãƒ—ç ”ç©¶å®¤1ã€ã§æ´»å‹•ã—ã¦ã„ã¾ã™ã€‚
          </p>
          <ul>
            {
              SCHEDULE.slice(0, 3).map((item) => (
                <li>
                  {toDurationString(item.begin, item.end)}
                  {item.note && `(${item.note})`}
                </li>
              ))
            }
          </ul>
        </div>
      </Card>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <Timeline
        client:load
        dataSource={{
          sourceType: 'profile',
          screenName: 'OpenTUT_info',
        }}
        options={{
          height: '600',
        }}
      />
      <Terminal client:load />
    </div>
  </div>
</Base>
