---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Card from '../components/Card.astro';
---

<Base title={`TUTility | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Card>
    <h1 class="mb-3 text-2xl font-bold">TUTility</h1>
    <h2 class="mb-3 text-xl font-bold">プライバシーポリシー</h2>
    <h3 class="mb-3 text-lg font-bold">アプリが収集する情報</h3>
    <p>
      このアプリが収集する情報はApple社のApp Store Connect
      (iOS)またはGoogle社のGoogle Play Console
      (Android)によるもののみであり、それ以外の情報は一切収集いたしません。ただし、アプリ内のブラウザでアクセスしたWebサイトによって収集されたデータに関しましては、私の関知するところではございません。
    </p><br /><br />

    <h3 class="mb-3 text-lg font-bold">問い合わせ</h3>
    <p>
      このアプリに関するお問い合わせは、 rin[アットマーク]eyrin.jp
      までお願いいたします。
    </p>
  </Card>
</Base>
