---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TUTility | TUT-IIC">
  <div class="min-h-screen bg-gray-100 text-gray-800">
    <div class="container mx-auto px-5 py-10">
      <main>
        <section
          id="about"
          class="p-4 bg-white shadow-md mb-5 mx-2 border-2 border-t-tut-red"
        >
          <h2 class="text-2xl font-bold mb-3">TUTility</h2>
          <h3 class="text-xl font-bold mb-3">プライバシーポリシー</h3>
          <h4 class="text-lg font-bold mb-3">アプリが収集する情報</h4>
          <p>
            このアプリが収集する情報はApple社のApp Store Connect
            (iOS)またはGoogle社のGoogle Play Console
            (Android)によるもののみであり、それ以外の情報は一切収集いたしません。ただし、アプリ内のブラウザでアクセスしたWebサイトによって収集されたデータに関しましては、私の関知するところではございません。
          </p>
          <br />
          <h4 class="text-lg font-bold mb-3">問い合わせ</h4>
          <p>
            このアプリに関するお問い合わせは、 rin[アットマーク]eyrin.jp
            までお願いいたします。
          </p>
        </section>
      </main>
    </div>
  </div>
</Layout>
