---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<Base title={`TUTility | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <section
    id="about"
    class="mb-5 border-2 border-t-tut-red bg-white p-4 shadow-md"
  >
    <h2 class="mb-3 text-2xl font-bold">TUTility</h2>
    <h3 class="mb-3 text-xl font-bold">プライバシーポリシー</h3>
    <h4 class="mb-3 text-lg font-bold">アプリが収集する情報</h4>
    <p>
      このアプリが収集する情報はApple社のApp Store Connect
      (iOS)またはGoogle社のGoogle Play Console
      (Android)によるもののみであり、それ以外の情報は一切収集いたしません。ただし、アプリ内のブラウザでアクセスしたWebサイトによって収集されたデータに関しましては、私の関知するところではございません。
    </p><br /><br />

    <h4 class="mb-3 text-lg font-bold">問い合わせ</h4>
    <p>
      このアプリに関するお問い合わせは、 rin[アットマーク]eyrin.jp
      までお願いいたします。
    </p>
  </section>
</Base>
