---
import OpenTUTLogo from '../assets/opentut_logo_large.svg';
import { SITE_TITLE } from '../consts';
import {
  IconArchive,
  IconBrandTwitter,
  IconHome,
  IconInfoCircle,
  IconListDetails,
} from '@tabler/icons-react';
import HeaderLink from './HeaderLink.astro';
---

<header class="border-b-4 border-b-tut-red bg-white md:px-8">
  <div class="mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="p-4">
      <img src={OpenTUTLogo.src} alt={SITE_TITLE} class="h-14" />
    </a>

    <nav class="flex overflow-x-auto px-4 py-1">
      <HeaderLink href="/">
        <IconHome /> Home
      </HeaderLink>
      <HeaderLink href="/about">
        <IconInfoCircle /> About
      </HeaderLink>
      <HeaderLink href="/projects">
        <IconListDetails /> Projects
      </HeaderLink>
      <HeaderLink href="/archive">
        <IconArchive /> Archive
      </HeaderLink>
      <HeaderLink
        href="https://twitter.com/OpenTUT_info"
        target="_blank"
        rel="noopener noreferrer"
      >
        <IconBrandTwitter /> Twitter
      </HeaderLink>
    </nav>
  </div>
</header>
