---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a
  class="hover:text-tut-red flex flex-col items-center gap-1 rounded-lg px-3 py-2 font-medium transition-colors"
  {...props}
>
  <slot />
</a>
