---
import OpenTUTLogo from '../assets/opentut_logo_large.svg';
import { SITE_TITLE } from '../consts';
import {
  IconArchive,
  IconBrandTwitter,
  IconHome,
  IconInfoCircle,
  IconListDetails,
  IconNews,
  IconLego,
} from '@tabler/icons-react';
import HeaderLink from './HeaderLink.astro';
---

<header class="border-b-4 border-b-tut-red bg-white md:px-8">
  <div class="mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="p-4">
      <img src={OpenTUTLogo.src} alt={SITE_TITLE} class="h-14" />
    </a>

    <nav class="navbar flex overflow-x-auto overscroll-x-none px-4 py-1">
      <HeaderLink href="/">
        <IconHome /> Home
      </HeaderLink>
      <HeaderLink href="/about">
        <IconInfoCircle /> About
      </HeaderLink>
      <HeaderLink href="/news">
        <IconNews /> News
      </HeaderLink>
      <HeaderLink href="/projects">
        <IconListDetails /> Projects
      </HeaderLink>
      <HeaderLink href="/archive">
        <IconArchive /> Archive
      </HeaderLink>
      <HeaderLink href="/introductions">
        <IconLego /> Intro
      </HeaderLink>
      <HeaderLink
        href="https://twitter.com/OpenTUT_info"
        target="_blank"
        rel="noopener noreferrer"
      >
        <IconBrandTwitter /> Twitter
      </HeaderLink>
    </nav>
  </div>
</header>

<style>
  .navbar {
    background:
      linear-gradient(to right, white 20%, transparent),
      linear-gradient(to right, transparent, white 80%) 100% 0,
      linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent),
      linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent) 100% 0;
    background-repeat: no-repeat;
    background-size:
      100px 100%,
      100px 100%,
      20px 100%,
      20px 100%;
    background-attachment: local, local, scroll, scroll;
  }
</style>
