---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a
  class="flex flex-col items-center gap-1 border-b-2 border-b-transparent px-3 py-2 font-medium transition-colors hover:border-b-tut-red hover:text-tut-red"
  {...props}
>
  <slot />
</a>
