---
import { Marp } from '@marp-team/marp-core';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface Props {
  markdown: string;
}

const marp = new Marp();
const { html, css } = marp.render(Astro.props.markdown, {
  htmlAsArray: true,
});
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      html.map((slide) => (
        <div
          class="swiper-slide marpit [&_ol]:list-decimal [&_ul]:list-disc"
          set:html={slide}
        />
      ))
    }
  </div>
  <div
    class="swiper-pagination [&>.swiper-pagination-bullet-active]:!bg-tut-red"
  >
  </div>
  <div class="swiper-button-prev !text-tut-red"></div>
  <div class="swiper-button-next !text-tut-red"></div>
</div>

<style set:html={css}></style>

<script>
  import Swiper from 'swiper';
  import { Keyboard, Navigation, Pagination } from 'swiper/modules';

  class MarpSvg extends HTMLElement {
    constructor() {
      super();

      //const shadow = this.attachShadow({ mode: 'closed' });
      //const style = document.createElement('style');
      //style.textContent = this.dataset.css!;

      this.innerHTML = `
<style>${this.dataset.css}</style>
        <div class="marpit">${this.dataset.html}</div>
      `;
      //wrapper.children[0].style.width = '988px';

      //shadow.appendChild(style);
      //shadow.appendChild(wrapper);
    }
  }

  customElements.define('marp-svg', MarpSvg);

  new Swiper('.swiper', {
    keyboard: {
      enabled: true,
    },
    modules: [Keyboard, Navigation, Pagination],
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    speed: 800,
  });
</script>
