---
import appRoot from 'app-root-path';
import { convertPDF } from '../convertPDF';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface Props {
  src: string;
}

const canvases = await convertPDF(appRoot.resolve(Astro.props.src));
---

<div class="swiper">
  <div class="swiper-wrapper" id="pdf-swiper">
    {
      canvases.map((canvas) => (
        <img src={canvas.toDataURL('image/webp')} class="swiper-slide" />
      ))
    }
  </div>
  <div
    class="swiper-pagination [&>.swiper-pagination-bullet-active]:!bg-tut-red"
  >
  </div>
  <div class="swiper-button-prev !text-tut-red"></div>
  <div class="swiper-button-next !text-tut-red"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Keyboard, Navigation, Pagination } from 'swiper/modules';

  new Swiper('.swiper', {
    keyboard: {
      enabled: true,
    },
    modules: [Keyboard, Navigation, Pagination],
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    speed: 800,
  });
</script>
