<div class="swiper">
  <div class="swiper-wrapper max-h-[45svh]">
    <slot />
  </div>
  <div
    class="swiper-pagination [&>.swiper-pagination-bullet-active]:!bg-tut-red"
  >
  </div>
  <div class="swiper-button-prev !text-tut-red"></div>
  <div class="swiper-button-next !text-tut-red"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Autoplay, Navigation, Pagination } from 'swiper/modules';

  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper('.swiper', {
    autoplay: {
      delay: 5000,
    },
    breakpoints: {
      768: {
        slidesPerView: 3,
      },
    },
    loop: true,
    modules: [Autoplay, Navigation, Pagination],
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    spaceBetween: 4,
    speed: 800,
  });
</script>
